#timer_gallery {
  margin-left: 45px;
  margin-top: 45px;
}
#timer_gallery .row-fluid .timer-container {
  margin-left: 0px;
  width: 270px;
}
#timer_gallery .row-fluid .timer-container .row-fluid {
  background-color: transparent;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span4 {
  width: 70px;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span4 .button-container {
  height: 60px;
  width: 50px;
  margin-left: 10px;
  border-radius: 2px;
  margin-top: 3px;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span4 .button-container .button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: #222222;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  position: relative;
  top: -5px;
  z-index: 300;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span4 .button-container .button-shadow {
  height: 50px;
  width: 50px;
  background-color: #444444;
  border-color: #222222;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  top: -50px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.2);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.2);
}
#timer_gallery .row-fluid .timer-container .row-fluid .span8 {
  margin-left: 0px;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span8 .row-fluid .span12 {
  min-height: 20px;
  position: relative;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span8 .row-fluid .span12 .title-container {
  position: relative;
  width: 200px;
}
#timer_gallery .row-fluid .timer-container .row-fluid .span8 .row-fluid .span12 .title-container h5 {
  margin: 0px;
  #font-family: Source Sans Pro, sans serif;
  #font-family: sans serif;
  letter-spacing: 1 px;
  font-size: 20px;
  line-height: 20px;
  color: #444444;
  padding: 3px;
  margin-left: -4px;
  margin-top: -3px;
}
#timer_gallery .row-fluid .timer-container .row-fluid .turn-off {
  display: hidden;
}

.time-display {
  color: #555555;
}

.cost-display {
  color: #555555;
  height: 20px;
}

.pence-fraction {
  font-size: 10px;
}

.timeline_container {
  background-color: #bbbbbb;
  height: 65px;
  width: 400px;
  margin-top: 3px;
}

.marker_frame {
  width: 10px;
  position: absolute;
  padding: 0px;
  margin-top: -8px;
  color: #666666;
}

.timeline_frame {
  width: 390px;
  height: 40px;
  margin-left: 2px;
  background-color: #eeeeee;
  margin-top: -6px;
}

.timeline_block {
  width: 50px;
  height: 40px;
  background-color: #666666;
  background-repeat: repeat;
  background-size: 40%;
  border-color: #888888;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
}

#timer_gallery ul {
  list-style-type: none;
  padding: 0px;
}

#timer_gallery ul li {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 0px;
}

.timer_icon_container {
  width: 100px;
  height: 100px;
  margin-top: -25px;
  margin-left: -35px;
  background-color: #dddddd;
}

/*arrow box stuff from http://cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: #88b7d5;
}

.arrow_box:after, .arrow_box:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #e2e2e2;
  border-width: 35px;
  top: 50%;
  margin-left: -13px;
}

#summary_view .row-fluid #summary_frame.span12 {
  width: 960px;
  margin-left: 60px;
  margin-top: 5px;
}
#summary_view #usage_overview {
  margin-top: 20px;
}
#summary_view #usage_overview #savings .row-fluid .span6 {
  margin: 0px;
  width: 214px;
}
#summary_view #usage_overview #savings .row-fluid .span6 h5 {
  margin: 0px;
  color: #eeeeee;
  font-size: 25px;
  #font-family: Source Sans Pro, sans serif;
  margin-top: 14px;
}
#summary_view #usage_overview #savings .row-fluid .span12 #yearly_spend_frame {
  display: inline-block;
  background-color: rgba(34, 34, 34, 0.4);
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  padding: 10px 20px 10px 20px;
}
#summary_view #usage_overview #savings .row-fluid .span12 #yearly_spend_frame h3 {
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  color: #eeeeee;
  line-height: 12px;
}
#summary_view #usage_overview #savings .row-fluid .span6 #summary_reload_frame {
  background-color: #111111;
  visibility: hidden;
  color: #eeeeee;
  width: 218px;
  height: 25px;
  padding: 12px 10px 9px 16px;
  border-radius: 3px;
}
#summary_view #usage_overview #savings .row-fluid .span6 #summary_reload_frame .row-fluid .span8 {
  width: 163px;
}
#summary_view #usage_overview #savings .row-fluid .span6 #summary_reload_frame .row-fluid .span8 h3 {
  font-family: Fredoka One, sans-serif;
  font-size: 25px;
  margin: 0px;
  margin-top: 2px;
  line-height: 18px;
}
#summary_view #usage_overview #savings .row-fluid .span6 #summary_reload_frame .row-fluid .span4 {
  width: 40px;
}
#summary_view #usage_overview #savings .row-fluid .span6 #summary_reload_frame .row-fluid .span4 img {
  margin-top: -7px;
  margin-left: 15px;
}
#summary_view #usage_overview #savings #comparisons {
  width: 808px;
  color: #eeeeee;
}
#summary_view #usage_overview #savings #comparisons ul {
  list-style-type: none;
}
#summary_view #usage_overview #savings #comparisons ul li {
  background-color: rgba(34, 34, 34, 0.4);
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
}
#summary_view #usage_overview #savings #comparisons .comparison-frame {
  margin-left: 20px;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-title h3 {
  margin: 0px;
  padding: 5px 0px 10px 0px;
  color: #eeeeee;
  #font-family: Source Sans Pro;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-table {
  border-radius: 3px;
  width: 355px;
  padding: 15px 15px 15px 25px;
  background-color: rgba(88, 97, 97, 0.2);
  margin: 0px;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-table table {
  margin-top: 15px;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-table table tr td {
  text-align: right;
  padding-right: 10px;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-or {
  background-color: rgba(34, 220, 255, 0.8);
  #background-color: #333333;
  height: 100px;
  width: 100px;
  margin: 0px;
  margin-left: 15px;
  margin-top: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-or .row-fluid .span12 .or-frame {
  position: relative;
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-left: 13px;
  font-family: Fredoka One, sans-serif;
}
#summary_view #usage_overview #savings #comparisons .comparison-frame .comparison-reward {
  border-radius: 3px;
  width: 285px;
  padding: 15px 15px 15px 25px;
  background-color: rgba(88, 97, 97, 0.2);
  margin: 0px;
  margin-left: 15px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333333;
  background-color: #333333;
  background-image: url("/img/subtle_carbon.png");
  background-attachment: fixed;
}

::selection {
  color: #dddddd;
  background-color: black;
}

#app_templates {
  display: none;
}

#app_container {
  padding: 0px 8px 0px 8px;
  min-width: 1180px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
#app_container #app_header {
  background-color: #111111;
  border-radius: 0px 0px 3px 3px;
  padding-bottom: 18px;
}
#app_container #app_header #app_nav {
  min-width: 620px;
}
#app_container #app_header #app_nav .row-fluid .span5 #brand_frame {
  background-color: #181818;
  width: 200px;
  height: 100px;
  margin-left: 30px;
  margin-top: 40px;
  border-radius: 1px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  cursor: pointer;
}
#app_container #app_header #app_nav .row-fluid .span5 #brand_frame .brand {
  font-size: 38px;
  line-height: 40px;
  color: #eeeeee;
  position: relative;
  padding: 10px 10px 0px 10px;
  text-shadow: 1px 1px 2px #cccccc;
  filter: dropshadow(color=#cccccc, offx=1, offy=1);
  padding-top: 20px;
  margin-left: 20px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar {
  height: 140px;
  margin-bottom: 0px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner {
  height: 140px;
  background-color: transparent;
  background-image: none;
  position: absolute;
  border: none;
  box-shadow: none;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu {
  margin-left: -18px;
  bottom: 0px;
  position: absolute;
  width: 450px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li {
  font-family: poiret-one, sans-serif;
  font-size: 22px;
  color: #141414;
  background-color: #1b1b1b;
  padding: 15px 5px 15px 5px;
  margin-right: 10px;
  border-radius: 0px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li a {
  text-shadow: none;
  color: #dddddd;
  font-family: Fredoka One, sans-serif;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li:hover {
  background-color: #222222;
}
#app_container #app_header #app_tariff_data {
  min-width: 510px;
  height: 85px;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame {
  height: 50px;
  width: 500px;
  margin-top: 10px;
  margin-right: 10px;
  color: #666666;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_left_frame {
  width: 145px;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_left_frame #total_time_label {
  margin: 0px;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_left_frame #total_time {
  font-family: Fredoka One;
  color: #eeeeee;
  margin-left: 3px;
  position: relative;
  margin-right: 16px;
  font-size: 20px;
  margin-top: 3px;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_right_frame {
  text-align: right;
  display: inline-block;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_right_frame #total_cost_label {
  text-align: left;
  margin: 0px;
}
#app_container #app_header #app_tariff_data .row-fluid #totals_frame #total_right_frame #total_cost {
  height: 60px;
  font-size: 50px;
  font-family: Fredoka One, sans-serif;
  line-height: 50px;
  margin-right: 5px;
  color: #eeeeee;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame {
  margin-top: -11px;
  min-width: 508px;
  margin-right: 7px;
  color: #666666;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame #label_frame {
  margin-bottom: 2px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame #label_frame #region_label {
  text-align: left;
  min-height: 0px;
  width: 207px;
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame #label_frame #provider_label {
  text-align: left;
  min-height: 0px;
  width: 143px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame #label_frame #tariff_label {
  width: 45px;
  min-height: 0px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame {
  width: 215px;
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame .styled-select {
  border-radius: 3px;
  overflow: hidden;
  width: 215px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame .styled-select #region_select {
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  background-image: url("/img/downarrow.png");
  background-repeat: no-repeat;
  background-color: #222222;
  option-line-height: 40px;
  width: 240px;
  background-position: 88% 40%;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame .styled-select #region_select:focus {
  outline: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame {
  width: 150px;
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame .styled-select {
  border-radius: 3px;
  width: 150px;
  overflow: hidden;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame .styled-select #provider_select {
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  background-image: url("/img/downarrow.png");
  background-repeat: no-repeat;
  background-color: #222222;
  option-line-height: 40px;
  background-position: 63% 40%;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame .styled-select #provider_select:focus {
  outline: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame {
  margin-left: 5px;
  width: 128px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame .styled-select {
  border-radius: 3px;
  width: 120px;
  overflow: hidden;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame .styled-select #tariff_select {
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  background-image: url("/img/downarrow.png");
  background-repeat: no-repeat;
  background-color: #222222;
  option-line-height: 40px;
  background-position: 47.5% 40%;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame .styled-select #tariff_select:focus {
  outline: none;
}
#app_container #app_footer #reset_frame {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  width: 80px;
}
#app_container #app_footer #reset_frame a {
  color: #666666;
  text-decoration: underline;
}
#app_container #app_footer #welcome_frame {
  width: 200px;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  color: #666666;
}
#app_container #info_frame_container {
  height: 100%;
  width: 100%;
  #background-color: rgba(34, 220, 255, 0.2);
  background-color: rgba(85, 85, 85, 0.6);
  z-index: 4000;
  opacity: 0;
  position: absolute;
  left: 0;
}
#app_container #info_frame_container #info_frame {
  top: 60px;
  width: 920px;
  height: 480px;
  background-color: #222222;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: url("/img/infoboxbg.png");
  background-repeat: repeat-x;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.2);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.2);
}
#app_container #info_frame_container #info_frame #info_frame_logo {
  margin-top: 20px;
  width: 180px;
  height: 100px;
  margin-left: 32px;
  position: absolute;
}
#app_container #info_frame_container #info_frame #info_box_1 {
  position: absolute;
  margin-top: 100px;
  width: 400px;
  background-color: #222222;
  border-radius: 3px;
  padding: 15px 10px 0px 10px;
  margin-left: 30px;
}
#app_container #info_frame_container #info_frame #info_box_1 h3 {
  font-family: sans-serif;
  font-size: 22px;
  color: #eeeeee;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
}
#app_container #info_frame_container #info_frame #info_box_1 h4 {
  font-family: sans-serif;
  font-size: 16px;
  color: #eeeeee;
  margin: 0px;
  line-height: 18px;
}
#app_container #info_frame_container #info_frame #info_box_2 {
  position: absolute;
  margin-top: 100px;
  width: 400px;
  background-color: #222222;
  border-radius: 3px;
  padding: 15px 10px 15px 10px;
  margin-left: 470px;
}
#app_container #info_frame_container #info_frame #info_box_2 h3 {
  font-family: sans-serif;
  font-size: 22px;
  color: #eeeeee;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
}
#app_container #info_frame_container #info_frame #info_box_2 h4 {
  font-family: sans-serif;
  font-size: 16px;
  color: #eeeeee;
  margin: 0px;
  line-height: 18px;
}
#app_container #info_frame_container #info_frame #info_box_2 h4 {
  margin-top: 5px;
}
#app_container #info_frame_container #info_frame #go_box_1 {
  margin-left: 470px;
  margin-top: 380px;
  #background-color: white;
  position: absolute;
  height: 80px;
  width: 420px;
}
#app_container #info_frame_container #info_frame #go_box_1 #go_link_container #go_link_frame {
  background-color: rgba(34, 220, 255, 0.8);
  padding: 6px 0px 13px 20px;
  border-radius: 5px;
  width: 189px;
  height: 55px;
  margin-left: 68px;
  margin-top: -4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  color: white;
}
#app_container #info_frame_container #info_frame #go_box_1 #go_link_container #go_link_frame h3 {
  font-family: Fredoka One, sans-serif;
  line-height: 40px;
  font-size: 40px;
  text-shadow: 1px 1px 1px #666666;
  filter: dropshadow(color=#666666, offx=1, offy=1);
}
#app_container #info_frame_container #info_frame #go_box_1 #go_link_container #go_link_frame:hover {
  background-color: #22dcff;
}
#app_container #info_frame_container #info_frame #info_frame_close_link {
  margin-left: 850px;
  margin-top: 20px;
  background-color: #222222;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(1, 1, 1, 0.1);
  color: #eeeeee;
  cursor: pointer;
}
#app_container #info_frame_container #info_frame #info_frame_close_link .row-fluid .span12 .glyphicon {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}
#app_container #info_frame_container #info_frame #info_frame_close_link:hover {
  background-color: #333333;
}
#app_container #info_frame_container #info_frame #info_box_end {
  position: absolute;
  margin-top: 100px;
  width: 400px;
  background-color: #222222;
  border-radius: 3px;
  margin-top: 45px;
  margin-left: 30px;
  width: 840px;
  height: 300px;
  padding: 15px 10px 15px 10px;
}
#app_container #info_frame_container #info_frame #info_box_end h3 {
  font-family: sans-serif;
  font-size: 22px;
  color: #eeeeee;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
}
#app_container #info_frame_container #info_frame #info_box_end h4 {
  font-family: sans-serif;
  font-size: 16px;
  color: #eeeeee;
  margin: 0px;
  line-height: 18px;
}
