.timer-container {
  margin-left: 0px;
  padding-top: 10px;
}
.timer-container .row-fluid .span4 {
  width: 70px;
}
.timer-container .row-fluid .span4 .button-container {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 2px;
}
.timer-container .row-fluid .span4 .button-container .button {
  height: 100%;
  width: 100%;
  background-color: #cccccc;
  border-radius: 50%;
  border-color: #bbbbbb;
  border-width: 0px;
  border-style: solid;
  cursor: pointer;
  position: relative;
  top: -5px;
  z-index: 300;
}
.timer-container .row-fluid .span4 .button-container .button-shadow {
  height: 100%;
  width: 100%;
  background-color: #333333;
  border-radius: 50%;
  top: -100%;
  position: relative;
}
.timer-container .row-fluid .span8 {
  margin-left: 0px;
}
.timer-container .row-fluid .span8 .row-fluid .span12 .title-container {
  position: relative;
  width: 200px;
}
.timer-container .row-fluid .span8 .row-fluid .span12 .title-container h5 {
  margin: 0px;
  font-family: sans-serif;
  letter-spacing: 1 px;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
.timer-container .row-fluid .span8 .row-fluid .span12 {
  position: relative;
}

.timeline_container {
  background-color: #bbbbbb;
  height: 65px;
  width: 400px;
  margin-top: 3px;
}

.marker_frame {
  width: 10px;
  position: absolute;
  padding: 0px;
  margin-top: -8px;
  color: #666666;
}

.timeline_frame {
  width: 390px;
  height: 40px;
  margin-left: 2px;
  background-color: #eeeeee;
  margin-top: -6px;
}

.timeline_block {
  width: 50px;
  height: 40px;
  background-color: #666666;
  background-repeat: repeat;
  background-size: 40%;
  border-color: #888888;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
}

#timer_gallery {
  margin-left: 35px;
}

#timer_gallery ul {
  list-style-type: none;
  padding: 0px;
}

#timer_gallery ul li {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

.timer_icon_container {
  width: 100px;
  height: 100px;
  margin-top: -25px;
  margin-left: -35px;
  background-color: #dddddd;
}

/*arrow box stuff from http://cssarrowplease.com/ */
.arrow_box {
  position: relative;
  background: #88b7d5;
}

.arrow_box:after, .arrow_box:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #e2e2e2;
  border-width: 35px;
  top: 50%;
  margin-left: -13px;
}

#summary_view .row-fluid .span12 {
  width: 95%;
  margin-left: 2.5%;
}

#savings {
  width: 100%;
  height: 300px;
  background-color: #dddddd;
}

#summary {
  width: 100%;
  height: 200px;
  background-color: #cccccc;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333333;
  background-image: url("/img/wavegrid.png");
  background-attachment: fixed;
}

::selection {
  color: #dddddd;
  background-color: black;
}

#app_templates {
  display: none;
}

#app_container {
  padding: 0px 8px 0px 8px;
  background-color: #333333;
  background-image: url("/img/subtle_carbon.png");
}
#app_container #app_header {
  background-color: #111111;
  border-radius: 0px 0px 3px 3px;
  padding-bottom: 20px;
}
#app_container #app_header #app_nav {
  min-width: 620px;
}
#app_container #app_header #app_nav .row-fluid .span5 #brand-frame {
  background-color: #181818;
  width: 200px;
  height: 100px;
  margin-left: 30px;
  margin-top: 25px;
  border-radius: 1px;
}
#app_container #app_header #app_nav .row-fluid .span5 #brand-frame .brand {
  font-size: 38px;
  line-height: 40px;
  color: #eeeeee;
  position: relative;
  padding: 10px 10px 0px 10px;
  text-shadow: 1px 1px 2px #cccccc;
  filter: dropshadow(color=#cccccc, offx=1, offy=1);
  padding-top: 20px;
  margin-left: 20px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar {
  height: 120px;
  margin-bottom: 0px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner {
  height: 125px;
  background-color: transparent;
  background-image: none;
  position: absolute;
  border: none;
  box-shadow: none;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu {
  margin-left: -18px;
  bottom: 0px;
  position: absolute;
  width: 400px;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li {
  font-family: poiret-one, sans-serif;
  font-size: 22px;
  color: #141414;
  background-color: #1b1b1b;
  padding: 15px 5px 15px 5px;
  margin-right: 10px;
  border-radius: 0px;
  cursor: pointer;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li a {
  text-shadow: none;
  color: #dddddd;
  font-family: Fredoka One, sans-serif;
}
#app_container #app_header #app_nav .row-fluid .span7 .navbar .navbar-inner ul#app_menu li:hover {
  background-color: #222222;
}
#app_container #app_header #app_tariff_data {
  min-width: 432px;
  height: 85px;
}
#app_container #app_header #app_tariff_data .row-fluid #total_cost_frame {
  height: 50px;
  width: 350px;
  margin-top: 10px;
  margin-right: 10px;
}
#app_container #app_header #app_tariff_data .row-fluid #total_cost_frame #total_cost {
  height: 60px;
  font-size: 60px;
  font-family: Fredoka One, sans-serif;
  line-height: 60px;
  padding: 10px 0px 0px 0px;
  margin-right: 5px;
  color: #eeeeee;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame {
  margin-top: 25px;
  min-width: 432px;
  margin-right: 10px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame {
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame #region_select {
  width: 100%;
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  background-color: #444444;
  border: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_region_frame #region_select:focus {
  outline: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame {
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame #provider_select {
  width: 100%;
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  background-color: #444444;
  border: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_provider_frame #provider_select:focus {
  outline: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame {
  margin-left: 5px;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame #tariff_select {
  width: 100%;
  font-family: Fredoka One, sans-serif;
  font-size: 15px;
  color: #dddddd;
  line-height: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 5px;
  background-color: #444444;
  border: none;
}
#app_container #app_header #app_tariff_data .row-fluid #tariff_options_frame .row-fluid #select_tariff_frame #tariff_select:focus {
  outline: none;
}
