#summary_view
	.row-fluid
		#summary_frame.span12
			width : 960px
			margin-left : 60px
			margin-top : 5px
	#usage_overview	
		margin-top : 20px
		#savings
			.row-fluid
				.span6
					margin : 0px
					width : 214px
					h5
						margin : 0px
						color : #eeeeee
						font-size : 25px
						#font-family : Source Sans Pro, sans serif
						margin-top : 14px
				.span12
					#yearly_spend_frame
						display : inline-block
						background-color : rgba(34, 34, 34, 0.4)
						border-radius : 3px
						margin-top : 15px
						margin-bottom : 15px
						-webkit-box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
						box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
						padding : 10px 20px 10px 20px
						h3
							margin : 10px 0px 10px 0px
							font-size : 18px
							color : #eeeeee
							line-height : 12px
				.span6
					#summary_reload_frame
						background-color : #111111
						visibility : hidden
						color : #eeeeee
						width : 218px
						height : 25px
						padding : 12px 10px 9px 16px
						border-radius : 3px
						.row-fluid
							.span8
								width : 163px
								h3
									font-family : Fredoka One, sans-serif
									font-size : 25px
									margin : 0px
									margin-top : 2px
									line-height : 18px
							.span4
								width : 40px
								img
									//margin-top : 10px
									margin-top : -7px
									margin-left : 15px
			#comparisons
				width : 808px
				ul
					list-style-type : none
					li
						background-color : rgba(34, 34, 34, 0.4)
						border-radius : 3px
						margin-bottom : 20px
						-webkit-box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
						box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
				color : #eeeeee
				.comparison-frame
					margin-left : 20px
					.comparison-title
						h3
							margin : 0px
							padding : 5px 0px 10px 0px
							color : #eeeeee
							#font-family : Source Sans Pro
					.comparison-table
						border-radius : 3px
						width : 355px
						padding : 15px 15px 15px 25px
						background-color : rgba(88, 97, 97, 0.2)
						margin : 0px
						table
							margin-top : 15px
							tr
								td
									text-align : right
									padding-right : 10px
					.comparison-or
						background-color : rgba(34, 220, 255, 0.8)
						#background-color : #333333
						height : 100px
						width : 100px
						margin : 0px
						margin-left : 15px
						margin-top : 25px
						border-radius : 3px
						-webkit-box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
						box-shadow :  1px 1px 1px 2px rgba(1, 1, 1, 0.1)
						.row-fluid
							.span12
								.or-frame
									position : relative
									font-size : 50px
									width : 60px
									height : 60px
									margin-top : 40px
									margin-left : 13px
									font-family : Fredoka One, sans-serif
					.comparison-reward
						border-radius : 3px
						width : 285px
						padding : 15px 15px 15px 25px
						background-color : rgba(88, 97, 97, 0.2)
						margin : 0px
						margin-left : 15px