#summary_view
	.row-fluid
		.span12
			width : 95%
			margin-left : 2.5%
	#usage_overview	
		margin-top : 20px
		#summary
			height : 300px
			background-color: #222222
			.row-fluid
				.span12
					margin : 0px
					h5
						margin : 0px
						color : #dddddd
						font-size : 15px
						font-family : sans-serif
		#savings
			height: 300px
			background-color : #333333
			.row-fluid
				.span12
					margin : 0px
					h5
						margin : 0px
						color : #dddddd
						font-size : 15px
						font-family : sans-serif
			#comparisons
				color : #ffffff