!!!
%html
	%head
		%title 24 / 365 Challenge
		%script{:type => "text/javascript",
				:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
		%script{:type => "text/javascript",
				:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
		%script{:type => "text/javascript",
				:src => "http://use.edgefonts.net/poiret-one;ultra;passion-one.js"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "http://fonts.googleapis.com/css?family=Cinzel"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro"}
		%link{:rel => "shortcut icon",
				:href => "/img/favicon.ico"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "http://fonts.googleapis.com/css?family=Fredoka+One"}
		%script{:type => "text/javascript",
				:src => "/js/libs/underscore.js"}
		%script{:type => "text/javascript",		
				:src => "/js/libs/jquery-animate-shadow-min.js"}
		%script{:type => "text/javascript",
				:src => "/js/libs/backbone.js"}
		%script{:type => "text/javascript",
				:src => "/js/libs/jquery.timer.js"}
		%script{:type => "text/javascript",
				:src => "/js/formatting.js"}
		%script{:type => "text/javascript",
				:src => "/js/appliance_models.js"}
		%script{:type => "text/javascript",
				:src => "/js/user_model.js"}
		%script{:type => "text/javascript",
				:src => "/js/tariff_selector_model.js"}
		%script{:type => "text/javascript",
				:src => "/js/timer_models.js"}
		%script{:type => "text/javascript",
				:src => "/js/comparison_models.js"}
		%script{:type => "text/javascript",
				:src => "/js/client.js"}
		%script{:type => "text/javascript",
				:src => "/js/libs/jquery-cookie-master/jquery.cookie.js"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "/css/bootstrap.css"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "/css/bootstrap-glyphicons.css"}
		%link{:rel => "stylesheet",
				:type => "text/css",
				:href => "/css/styles.css"}
		
	%body
		#app_container.container-fluid
			#app_header.row-fluid
				#app_nav.span6
					.row-fluid
						.span5
							#brand_frame
								.brand
									%img{:src => "/img/titleimage.png"}
						.span7
							.navbar
								.navbar-inner
									%ul{:class => 'nav', :id => 'app_menu'}
										%li{:id => "timer_view_link"}
											%a{:href => "#"}
												My timings
										%li{:id => "summary_view_link"}
											%a{:href => "#"}
												My savings
										%li{:style => "padding:15px 15px 15px 15px;",
											:id => "info_frame_link"}
											%a{:href => "#"}
												?
				#app_tariff_data.span4.pull-right
					.row-fluid
						.span12
							#totals_frame.row-fluid
								#total_left_frame.span6
									#total_time_label
										Time remaining :
									#total_time
								#total_right_frame.span6
									#total_cost_label
										Total spend : 
									#total_cost
						//#total_time_frame.span6.pull-right
						//#total_time.pull-right
					.row-fluid
						#tariff_options_frame.span8.pull-right
			#page_container.row-fluid.clearfix
			#app_footer.row-fluid
				#reset_frame.span2.pull-right
					%a{:href => '#',
						:id => 'reset_app_link'}
						Reset app?
				#welcome_frame.span2.pull-right
		#app_templates