<!DOCTYPE html>
<html>
  <head>
    <title>24 Hour Challenge</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' type='text/javascript'></script>
    <script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js' type='text/javascript'></script>
    <script src='http://use.edgefonts.net/poiret-one.js' type='text/javascript'></script>
    <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
    <script src='/js/libs/underscore.js' type='text/javascript'></script>
    <script src='/js/libs/backbone.js' type='text/javascript'></script>
    <script src='/js/libs/jquery.timer.js' type='text/javascript'></script>
    <script src='/js/appliance_models.js' type='text/javascript'></script>
    <script src='/js/user_model.js' type='text/javascript'></script>
    <script src='/js/timer_models.js' type='text/javascript'></script>
    <script src='/js/comparison_models.js' type='text/javascript'></script>
    <script src='/js/client.js' type='text/javascript'></script>
    <!-- /%script{:type => "text/javascript", -->
    <!-- / 		:src => "http://127.0.0.1:3000/socket.io/socket.io.js"} -->
    <script src='/socket.io/socket.io.js' type='text/javascript'></script>
    <script src='/js/libs/jquery-cookie-master/jquery.cookie.js' type='text/javascript'></script>
    <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='container-fluid' id='app_container'>
      <div class='row-fluid' id='app_header'>
        <div class='span6' id='app_nav'>
          <div class='row-fluid'>
            <div class='span5'>
              <div id='brand-frame'>
                <div class='brand'>
                  24 Hour
                  <br>
                  Challenge
                </div>
              </div>
            </div>
            <div class='span7'>
              <div class='navbar'>
                <div class='navbar-inner'>
                  <ul class='nav' id='app_menu'>
                    <li>
                      <a href='#' id='realtime_view_link'>
                        My timings
                      </a>
                    </li>
                    <li>
                      <a href='#' id='timeline_view_link'>
                        My savings
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='span6' id='app_tariff_data'>
          <div class='row-fluid'>
            <div class='span8 pull-right' id='total_cost_frame'>
              <div class='pull-right' id='total_cost'>
                &#163;36.21
              </div>
            </div>
          </div>
          <div class='row-fluid'>
            <div class='span8 pull-right' id='tariff_options_frame'></div>
          </div>
        </div>
      </div>
      <div class='row-fluid clearfix' id='page_container'></div>
    </div>
    <div id='app_templates'></div>
  </body>
</html>
