%script{:type => "text/template", :id => "app_button"}
	.row-fluid
		%h5
			<%= name %>
			
%script{:type => "text/template", :id => "app_timer"}
	.row-fluid
		.timer-container
			.row-fluid
				.span4
					.button-container
						//<img src="./img/powersymbol.png" style="width:40%;top:12px;left:15px;position:relative"/>
						:plain
							<div class="button" id="<%= appliance_id %>">
							</div>
							<div class="button-shadow" id="<%= appliance_id %>"></div>
				.span8
					.row-fluid
						.span12
							.title-container
								%h5
									:plain
										<div class="name" id="<%= appliance_id %>"><%= name %></div>
					.row-fluid
						.span12
							:plain
								<div class="time-display" id="<%= appliance_id %>"></div>
					.row-fluid
						.span12
							:plain
								<div class="cost-display" id="<%= appliance_id %>"></div>
				.turn-off
		
%script{:type => "text/template", :id => "comparison_frame"}
	.comparison-frame.row-fluid
		.span12
			.row-fluid
				.comparison-title.span12
					%h3
						To save &#163;<%= daily_saving %> a day / &#163;<%= yearly_saving %> a year...
			.row-fluid
				.comparison-table.span4
					.row-fluid
						.span12
							You could reduce your daily use of the following appliances by ...
					.row-fluid
						.span12
							%table
								%tr
									%td
										:plain
									%td
										Hours
									%td
										Mins
									%td
										Secs
									%td
										Mils
								:plain		
									<% _.each(appliance_usages, function(appliance_usage) { %>
										<% appliance = _.find(appliance_data, function(appliance) {
											//alert(appliance.appliance_id+","+appliance_usage.appliance_id);
											return appliance.appliance_id === appliance_usage.appliance_id
										});
										reduction_timestamp = formatTimestamp(appliance_usage.reduction_timestamp, false)
									%>
								%tr
									%td
										<%= appliance.name %>
									%td
										<%= reduction_timestamp[0] %>
									%td
										<%= reduction_timestamp[1] %>
									%td
										<%= reduction_timestamp[2] %>
									%td
										<%= reduction_timestamp[3] %>
								<% }); %>
				.comparison-or.span4
					.row-fluid
						.span12
							.or-frame
								OR
		
				.comparison-reward.span4
					.row-fluid
						.span12
							Switch to this tariff :
							:plain
								<% provider = _.find(window.tariffSelector.get('provider_data'), function(provider) {
									return provider.provider_id == alternate_tariff.provider_id;
								}); %>
								<% region = _.find(window.tariffSelector.get('region_data'), function(region) {
									return region.region_id == alternate_tariff.region_id;
								}); %>
								<% console.log(window.tariffSelector.get('provider_data')); %>
					.row-fluid
						.span12
							Provider : <%= provider.title %>
					.row-fluid
						.span12
							Region : <%= region.title %>
					.row-fluid
						.span12
							Tariff : <%= alternate_tariff.tariff_label %>
			.row-fluid
				.span12
					%h3
						That's enough saving to purchase a <%= saving_reward.title %>
				
				
%script{:type => "text/template", :id => "tariff_selector"}
	:plain
		<%
			region_data = _.sortBy(tariff_selector_data.region_data, function(region) {
				return region.title;
			});
			
			regional_tariffs = _.filter(tariff_selector_data.tariff_data,function(tariff) {
				return tariff.region_id === user_data.region_id;
			});
			provider_ids = _.uniq(_.map(regional_tariffs, function(tariff) {
				return tariff.provider_id;
			}));
			
			provider_data = _.sortBy(_.filter(tariff_selector_data.provider_data, function(provider) {
				if($.inArray(provider.provider_id, provider_ids) != -1)
					return true
				else
					return false
			}), function(provider) {
				return provider.title;
			});
			tariff_data = _.filter(tariff_selector_data.tariff_data, function(tariff) {
				return ((tariff.provider_id === user_data.provider_id) && (tariff.region_id === user_data.region_id))
			});
			
		%>
	.row-fluid
		#select_region_frame.span4
			.styled-select
				%select{:id => 'region_select'}
					:plain
						<% _.each(region_data, function(region) { 
							if (region.region_id === user_data.region_id) { %>
								<option value="<%= region.region_id %>" selected><%= region.title %></option>
							<% } else { %>
								<option value="<%= region.region_id %>"><%= region.title %></option>
							<% } %>
						<% }); %>
		#select_provider_frame.span4
			.styled-select
				%select{:id => 'provider_select'}
					:plain
						<% _.each(provider_data, function(provider) { 
							if (provider.provider_id === user_data.provider_id) { %>
								<option value="<%= provider.provider_id %>" selected><%= provider.title %></option>
							<% } else { %>
								<option value="<%= provider.provider_id %>"><%= provider.title %></option>
							<% } %>
						<% }); %>
		#select_tariff_frame.span4
			.styled-select
				%select{:id => 'tariff_select'}
					:plain
						<% _.each(tariff_data, function(tariff) { 
							if (tariff.region_id === user_data.tariff_id) { %>
								<option value="<%= tariff.tariff_id %>" selected><%= tariff.tariff_label %></option>
							<% } else { %>
								<option value="<%= tariff.tariff_id %>"><%= tariff.tariff_label %></option>
							<% } %>
						<% }); %>
						
%script{:type => "text/template", :id => "info_frame_template"}
	#info_frame
		.row-fluid
			.span12
				#info_frame_logo
					%img{:src => "/img/titleimage.png"}
				//%a{:href => '#',
				//:id => 'info_frame_close_link'}
				//	Close/ Go
				#info_box_1
					%h3
						Welcome to the 24/365 challenge.
					%h4
						Your task is to record your energy use for 24 hours. By using our control panel, you can see how much you are spending, as your appliances are running. Simply select your region, provider &#38; tariff in the top right section of the screen, and your spending total will adjust to your tariff. Your initial total will be your tariff&#39;s standing charge.</br></br>
						You turn an appliance&#39;s timer on or off by pressing the large grey button- you can&#39;t miss it&#33; By doing so you can see how much that appliance is costing you in real time.</br></br>
						As for the &#39;365&#39; part of the challenge- by clicking &#39;My savings&#39; you can actually see how much your energy use would cost you yearly. </br></br>
				#info_box_2
					%h4
						The savings can be quite substantial- and if you are lucky, there will be alternative tariffs in your region which will shrink your bill without you having to reduce your usage.</br></br>
						Simply return to this webpage at any point during the challenge period and you can carry on as before.</br></br>
						This app requires the use of cookies to run, but no personally identifiable information is obtained.</br></br>
					:plain
						<% if(window.existing_user == false) { %>
							<h3>Ok, are you ready? The challenge starts now&#33;</h3>
						<% } %>
				#go_box_1
					.row-fluid
						#go_link_container.span8.pull-right
							:plain
								<% if(window.existing_user == false) { %>
									<div id="go_link_frame">
										<h3>Start >></h3>
										</div>
								<% } %>
				#info_frame_close_link
					.row-fluid
						.span12
							%span{:class => "glyphicon glyphicon-remove"}
%script{:type => "text/template", :id => "summary_frame_template"}
	:plain
		<% console.log() %>
%script{:type => "text/template", :id => "info_frame_end_template"}
	#info_frame
		.row-fluid
			.span12
				#info_frame_logo
					%img{:src => "/img/titleimage.png"}
				#info_frame_close_link
					.row-fluid
						.span12
							%span{:class => "glyphicon glyphicon-remove"}
				#info_box_end
					%h3
						Your 24 hours is up. How much could you save on your electricity?
					%h4
						Hopefully over the last 24 hours you managed to successfully record your energy usage. If not, don't worry, you can always press "Reset app"
						at the bottom of the page in order to try again.</br></br>
						It is now that you can fully get an idea of how much you spend a year on your current tariff. Why not see how much you can save by pressing "My savings"
						to get an overall impression of your yearly spend.</br></br>
						Your control panel has now stopped but you can view your timings. Why not give the challenge another go?