%script{:type => "text/template", :id => "app_button"}
	.row-fluid
		%h5
			<%= name %>
			
%script{:type => "text/template", :id => "app_timer"}
	.row-fluid
		.timer-container
			.row-fluid
				.span4
					.button-container
						//<img src="./img/powersymbol.png" style="width:40%;top:12px;left:15px;position:relative"/>
						:plain
							<div class="button" id="<%= appliance_id %>">
							</div>
							<div class="button-shadow"></div>
				.span8
					.row-fluid
						.span12
							.title-container
								%h5
									:plain
										<div class="name" id="<%= appliance_id %>"><%= name %></div>
					.row-fluid
						
			
%script{:type => "text/template", :id => "comparison_frame"}
	.row-fluid
		To save &#163;<%= daily_saving %>a day / &#163;<%= yearly_saving %> a year...
	.row-fluid
		.span4
			:plain
				<% _.each(appliance_usages, function(appliance_usage) { %>
					<% appliance = _.find(appliance_data, function(appliance) {
						//alert(appliance.appliance_id+","+appliance_usage.appliance_id);
						return appliance.appliance_id === appliance_usage.appliance_id
					}); 
					console.log(appliance)
					%>
					<%= appliance.name %> for <%= formatTimestamp(appliance_usage.reduction_timestamp) %> less a day</br></br>
				<% }); %>
				
		.span4
		
		
		.span4
%script{:type => "text/template", :id => "tariff_selector"}
	:plain
		<%
			region_data = _.sortBy(tariff_selector_data.region_data, function(region) {
				return region.title;
			});
			
			regional_tariffs = _.filter(tariff_selector_data.tariff_data,function(tariff) {
				return tariff.region_id === user_data.region_id;
			});
			provider_ids = _.uniq(regional_tariffs, function(tariff) {
				return tariff.provider_id;
			});
			
			provider_data = _.sortBy(_.filter(tariff_selector_data.provider_data, function(provider) {
				return $.inArray(provider.provider_id, provider_ids);
			}), function(provider) {
				return provider.title;
			});
			tariff_data = _.filter(tariff_selector_data.tariff_data, function(tariff) {
				return ((tariff.provider_id === user_data.provider_id) && (tariff.region_id === user_data.region_id))
			});
			
		%>
	.row-fluid
		#select_region_frame.span4
			.styled-select
				%select{:id => 'region_select'}
					:plain
						<% _.each(region_data, function(region) { 
							if (region.region_id === user_data.region_id) { %>
								<option value="<%= region.region_id %>" selected><%= region.title %></option>
							<% } else { %>
								<option value="<%= region.region_id %>"><%= region.title %></option>
							<% } %>
						<% }); %>
		#select_provider_frame.span4
			.styled-select
				%select{:id => 'provider_select'}
					:plain
						<% _.each(provider_data, function(provider) { 
							if (provider.provider_id === user_data.provider_id) { %>
								<option value="<%= provider.provider_id %>" selected><%= provider.title %></option>
							<% } else { %>
								<option value="<%= provider.provider_id %>"><%= provider.title %></option>
							<% } %>
						<% }); %>
		#select_tariff_frame.span4
			.styled-select
				%select{:id => 'tariff_select'}
					:plain
						<% _.each(tariff_data, function(tariff) { 
							if (tariff.region_id === user_data.tariff_id) { %>
								<option value="<%= tariff.tariff_id %>" selected><%= tariff.tariff_label %></option>
							<% } else { %>
								<option value="<%= tariff.tariff_id %>"><%= tariff.tariff_label %></option>
							<% } %>
						<% }); %>
						
%script{:type => "text/template", :id => "info_frame_template"}
	#info_frame_container
		#info_frame
			.row-fluid
				.span12
				Some information for you to start off.
				%a{:href => '#',
				:id => 'info_frame_close_link'}
					Close/ Go