%script{:type => "text/template", :id => "app_button"}
	.row-fluid
		%h5
			<%= name %>
			
%script{:type => "text/template", :id => "app_timer"}
	.row-fluid
		.timer-container
			.row-fluid
				.span4
					.button-container
						//<img src="./img/powersymbol.png" style="width:40%;top:12px;left:15px;position:relative"/>
						:plain
							<div class="button" id="<%= appliance_id %>">
							</div>
							<div class="button-shadow" id="<%= appliance_id %>"></div>
				.span8
					.row-fluid
						.span12
							.title-container
								%h5
									:plain
										<div class="name" id="<%= appliance_id %>"><%= name %></div>
					.row-fluid
						.span12
							:plain
								<div class="time-display" id="<%= appliance_id %>"></div>
					.row-fluid
						.span12
							:plain
								<div class="cost-display" id="<%= appliance_id %>"></div>
			
%script{:type => "text/template", :id => "comparison_frame"}
	.comparison-frame.row-fluid
		.span12
			.row-fluid
				.comparison-title.span12
					%h3
						To save &#163;<%= daily_saving %> a day / &#163;<%= yearly_saving %> a year...
			.row-fluid
				.comparison-table.span4
					.row-fluid
						.span12
							You could reduce your daily use of the following appliances by ...
					.row-fluid
						.span12
							%table
								%tr
									%td
										:plain
									%td
										Hours
									%td
										Mins
									%td
										Secs
									%td
										Mils
								:plain		
									<% _.each(appliance_usages, function(appliance_usage) { %>
										<% appliance = _.find(appliance_data, function(appliance) {
											//alert(appliance.appliance_id+","+appliance_usage.appliance_id);
											return appliance.appliance_id === appliance_usage.appliance_id
										});
										reduction_timestamp = formatTimestamp(appliance_usage.reduction_timestamp, false)
									%>
								%tr
									%td
										<%= appliance.name %>
									%td
										<%= reduction_timestamp[0] %>
									%td
										<%= reduction_timestamp[1] %>
									%td
										<%= reduction_timestamp[2] %>
									%td
										<%= reduction_timestamp[3] %>
								<% }); %>
				.comparison-or.span4
					.row-fluid
						.span12
							.or-frame
								OR
		
				.comparison-reward.span4
					.row-fluid
						.span12
							Switch to this tariff :
							:plain
								<% provider = _.find(window.tariffSelector.get('provider_data'), function(provider) {
									return provider.provider_id == alternate_tariff.provider_id;
								}); %>
								<% region = _.find(window.tariffSelector.get('region_data'), function(region) {
									return region.region_id == alternate_tariff.region_id;
								}); %>
								<% console.log(window.tariffSelector.get('provider_data')); %>
					.row-fluid
						.span12
							Provider : <%= provider.title %>
					.row-fluid
						.span12
							Region : <%= region.title %>
					.row-fluid
						.span12
							Tariff : <%= alternate_tariff.tariff_label %>
			.row-fluid
				.span12
					%h3
						That's enough saving to purchase a <%= saving_reward.title %>
				
				
%script{:type => "text/template", :id => "tariff_selector"}
	:plain
		<%
			region_data = _.sortBy(tariff_selector_data.region_data, function(region) {
				return region.title;
			});
			
			regional_tariffs = _.filter(tariff_selector_data.tariff_data,function(tariff) {
				return tariff.region_id === user_data.region_id;
			});
			provider_ids = _.uniq(_.map(regional_tariffs, function(tariff) {
				return tariff.provider_id;
			}));
			
			provider_data = _.sortBy(_.filter(tariff_selector_data.provider_data, function(provider) {
				if($.inArray(provider.provider_id, provider_ids) != -1)
					return true
				else
					return false
			}), function(provider) {
				return provider.title;
			});
			tariff_data = _.filter(tariff_selector_data.tariff_data, function(tariff) {
				return ((tariff.provider_id === user_data.provider_id) && (tariff.region_id === user_data.region_id))
			});
			
		%>
	.row-fluid
		#select_region_frame.span4
			.styled-select
				%select{:id => 'region_select'}
					:plain
						<% _.each(region_data, function(region) { 
							if (region.region_id === user_data.region_id) { %>
								<option value="<%= region.region_id %>" selected><%= region.title %></option>
							<% } else { %>
								<option value="<%= region.region_id %>"><%= region.title %></option>
							<% } %>
						<% }); %>
		#select_provider_frame.span4
			.styled-select
				%select{:id => 'provider_select'}
					:plain
						<% _.each(provider_data, function(provider) { 
							if (provider.provider_id === user_data.provider_id) { %>
								<option value="<%= provider.provider_id %>" selected><%= provider.title %></option>
							<% } else { %>
								<option value="<%= provider.provider_id %>"><%= provider.title %></option>
							<% } %>
						<% }); %>
		#select_tariff_frame.span4
			.styled-select
				%select{:id => 'tariff_select'}
					:plain
						<% _.each(tariff_data, function(tariff) { 
							if (tariff.region_id === user_data.tariff_id) { %>
								<option value="<%= tariff.tariff_id %>" selected><%= tariff.tariff_label %></option>
							<% } else { %>
								<option value="<%= tariff.tariff_id %>"><%= tariff.tariff_label %></option>
							<% } %>
						<% }); %>
						
%script{:type => "text/template", :id => "info_frame_template"}
	#info_frame_container
		#info_frame
			.row-fluid
				.span12
				Some information for you to start off.
				%a{:href => '#',
				:id => 'info_frame_close_link'}
					Close/ Go

%script{:type => "text/template", :id => "summary_frame_template"}
	:plain
		<% console.log() %>