%script{:type => "text/template", :id => "summary_view_template"}
	#summary_view
		.row-fluid
			.span12
				.row-fluid
					.span12#usage_overview
						.row-fluid
							.span3#summary
								.row-fluid
									.span12
										%h5
											Summary
											<%= tariff_comparison[0] %>
							.span9#savings
								.row-fluid
									.span12
										%h5
											How can I save?
								#comparisons