%script{:type => "text/template", :id => "timeline_view_template"}
	#timeline_view
		.row-fluid
			.span12
				.row-fluid
					.span12#usage_overview
						.row-fluid
							.span12#summary
						.row-fluid
							.span12#savings