<script id='timer_view_template' type='text/template'>
  <div id='timer_view'>
    <!-- /.droppable.row-fluid{:style=>"background-color:#444444;height:300px;"} -->
    <!-- /	#timer_gallery{:style=>"background-color:#777777;height:300px;"} -->
    <!-- /	//.droppable.drop.span2{:style=>"background-color:#444444;width:200px;height:200px"} -->
    <!-- /.row-fluid -->
    <!-- /	.span12 -->
    <!-- /		#appliance_list -->
    <!-- /			%ul#current_list.thumbnails.connected.Sortable.ui-sortable{:style=>"height:300px;"} -->
    <div id='timer_gallery'></div>
  </div>
</script>
